html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #2b3e50;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: inline; /* force showing the toggle */
  }
}

.navbar {
    right: auto;
    background: inherit;
    border: none;
}

.navmenu {
  background-color: #4e5d6c;
  font-size: 1.2em;
  width: 200px;
}

.navmenu-inverse {
  border: #fff;
}

.navmenu-inverse .navmenu-nav>li>a, .navbar-inverse .navbar-offcanvas .navmenu-nav>li>a {
  color: #fff;
}
.navmenu-inverse .navmenu-brand, .navbar-inverse .navbar-offcanvas .navmenu-brand {
  color: #fff;
}
