html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: inline; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: inherit;
    border: none;
  }
}

.navmenu {
  background-color: #4e5d6c;
  font-size: 1.2em;
  width: 200px;
}

.navmenu-inverse {
  border: #fff;
}

.navmenu-inverse .navmenu-nav>li>a, .navbar-inverse .navbar-offcanvas .navmenu-nav>li>a {
  color: #fff;
}
