html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  padding: 6px 8px;
}

.navbar-toggle .icon-bar {
  width: 12px;
  height: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: inline; /* force showing the toggle */
  }
}

.navbar {
  right: auto;
  background: inherit;
  border: none;
  width: 100%;
}

.navmenu {
  background-color: #4e5d6c;
  font-size: 1em;
  width: 200px;
}

.navmenu-inverse .navmenu-nav>li>a, .navbar-inverse .navbar-offcanvas .navmenu-nav>li>a {
  color: #fff;
}
